<div class="inicio">
<h1>Welcome to Cervedate</h1>
<p>La página que te ayudará a encontrar los mejores lugares de cerveza con mayor precisión.</p>


 <button 
      
      class="btn waves-effect waves-light" 
      type="submit" 
      name="action">Login
        <i class="material-icons right">&#x21b3;</i>
      </button>

 <button 
      class="btn waves-effect waves-light" 
      type="submit" 
      name="action">SignUp
        <i class="material-icons right">&#x21b3;</i>
      </button>
</div>


