<div class="sites">
<form>

 <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="title" type="text" data-length="20">
            <label for="input_text">Nombre del lugar</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="resena" class="materialize-textarea" data-length="20"></textarea>
            <label for="textarea2">Direccion</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="resena" class="materialize-textarea" data-length="20"></textarea>
            <label for="textarea2">Colonia</label>
          </div>
        </div>
      </form>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="submit">Consultar Lugares</button>
  <button class="btn btn-primary" type="submit">Agregar Lugar</button>
</div>

</div>


</form>
